/* Posts.css */

.searchBar {
  width: 40%;
  padding: 10px;
  margin: 20px auto;
  font-size: 16px;
}

.createThreadButton {
  margin-right: 10px;
}

.filterButton {
  margin-left: 10px;
}

.post-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.post-item {
  position: relative; /* Add relative positioning */
  background-color: #f2f2f2;
  border-radius: 5px;
  border-color: black;
  padding: 16px;
  margin-bottom: 16px;
  width: 100%;
  box-sizing: border-box;
}

.post-title {
  margin-top: 0;
  margin-bottom: 8px;
}

.post-body {
  margin: 0;
}

.post-item button {
  background-color: blue;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 8px;
}

.post-item button:hover {
  background-color: darkblue;
}

.kabob-menu {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  z-index: 1;
}

.kabob-icon {
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 50%;
}

.kabob-content {
  position: absolute;
  top: 100%; /* Adjust top position relative to parent */
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal.open {
  display: block;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-content h2 {
  margin-top: 0;
}
